.dashboard-header{
    height: 4rem;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    position: sticky;
}

#header-name{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#header-name img{
    width: 3rem;
    height: 3rem;
    border-radius: 0.3rem;
    margin-right: 0.5rem;
    background-color: #e4e5e9;
    margin-right: 1rem;
}
#header-info{
    height: 80%;
    width: 25rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 1.5rem;
    padding: 0 1rem;
    background-color: #e4e5e9;
    border-radius: 0.3rem;
}
.profile-image{
    background-color: #e4e5e9;
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
}
#main{
    display: flex;
    flex-direction: row;
}
.main-panel{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    background-color: #f5f6f8;
}
.dashboard-aside{
    height: 90vh;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    background-color: #fff;
    padding: 1rem 2rem;
}
.parrent-label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 4rem;
    gap: 1rem;
    
}
.parrent-option{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
    width: 100%;
}
.parrent-image{
    background-color: #e4e5e9;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
}
.parrent-label div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    padding: 0 1rem;
    justify-content: center;
}
.child-option{
    display: flex;
    flex-direction: column;
    width: 85%;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 0.5rem;
}
.child{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    gap: 1.5rem;
    height: 4rem;
    border: #fff;
    border-radius: 0.5rem;
}
.active{
    background-color: #299efe;
}
.child-option-image{
    background-color: #e4e5e9;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2rem;
    margin-left: 1rem;
}
.child-option-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}
.panel{
    margin: 2rem 2rem 0 2rem;
    padding: 1rem;
    width: 90%;
    height: auto;
    border-radius: 0.5rem;
    background-color: #fff;
}
.panel-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.panel-header i{
    margin-right: 1rem;
}
.options{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.aside-footer{
    width: 100%;
    border-top: 0.1rem solid #d8d8d8;
}
.theme-changer{
    background-color: #e4e5e9;
    width: 100%;
    height: 4rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.white{
    width: 100%;
    height: 70%;
    border-radius: 0.2rem;
    margin: 0.7rem;
    background-color: #fff;
}
.black{
    width: 100%;
    height: 70%;
    border-radius: 0.2rem;
    margin: 0.7rem;
    background-color: #fff;
}
.parrent-label:hover{
    background-color: #78c1fd;
    border-radius: 0.5rem;
    cursor: pointer;
}
.parrent-label:active{
    background-color: #299efe;
}
.double-chart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
.double-chart .panel:nth-child(2){
    width: 60%; 
    margin-left: 0;
}
.child:hover{
    background-color: #78c1fd;
    cursor: pointer;
}
.child:active{
    background-color: #299efe;
}
